<nav>
	<li>
		<a href="/">
			Home
		</a>
	</li>
	<li>
		Bio
	</li>
	<li>
		<a href="/anakhadivi/photo_gallery">
			Photo Diary
		</a>
	</li>
</nav>
<h1>
	Anastasia Khadivi
</h1>
<ul>
	<li>
		<a target="_blank" href="https://www.facebook.com/anabanana521">
			Facebook
		</a>
	</li>
	<li>
		<a target="_blank" href="http://instagram.com/anakhadivi">
			Instagram
		</a>
	</li>
	<li>
		<a href="https://github.com/anakhadivi">
			GitHub
		</a>
	</li>
</ul>
<p>
	Anastasia(Ana) Khadivi is 19 years old and resides in Greenwich Village, NYC. Ana was born in San Antonio,TX but was raised in NYC. Ana is currently taking classes at The New School University.
</p>

<ul>
	My Favorites
	<li>
		Color: Blue
	</li>
	<li>
		Website: Buzzfeed
	</li>
	<li>
		Snack: Pretzle sticks
	</li>
	<li>
		Hobbie: Reading
	</li>
	<li>
		Form of transportation: Biking
	</li>
	<li>
		Restaurant: Rosa Mexicano
	</li>
</ul>

