<%nav_list = ['About Me','Photo Diary']  %>
<%nav_list.each do |items|%>
<nav>
	<ul>
		<a href= " ">
			<%=items%>
		</a>
	</ul>
</nav>
<%end%>
<h1>
	Anastasia Khadivi
</h1>
<ul>
	<li>
		Facebook
	</li>
	<li>
		Instagram
	</li>
	<li>
		Github
	</li>
</ul>