<nav>
	<li>
		<a href="/">
			Home
		</a>
	</li>
	<li>
		<a href="/anakhadivi/about">
			Bio
		</a>
	</li>
	<li>
		Photo Diary
	</li>
</nav>
<h1>
	Anastasia Khadivi
</h1>
<ul>
	<li>
		<a target="_blank" href="https://www.facebook.com/anabanana521">
			Facebook
		</a>
	</li>
	<li>
		<a target="_blank" href="http://instagram.com/anakhadivi">
			Instagram
		</a>
	</li>
	<li>
		<a href="https://github.com/anakhadivi">
			GitHub
		</a>
	</li>
</ul>